@import '../../styles/index.less';

.home {
    width: 750rpx;

    /* 顶部导航 */
    .top-nav {
        height: 128rpx;
        background-color: #bgColors[theme];
        padding: 66rpx 30rpx 25rpx;

        .title {
            line-height: 37rpx;
            color: #fontColor[fff];
            font-size: #fontSize[navTitle];
            font-weight: #fontWeight[navWeight];
        }
    }

    /* 主体 */
    .content {

        .introduce {
            height: 230rpx;
            padding: 0 30rpx;
            background-color: #bgColors[theme];
            border-radius: 0 0 30rpx 30rpx;
            .slogan {
                line-height: 25rpx;
                text {
                    color: #fontColor[fff];
                    font-size: #fontSize[themeTitle];
                    font-weight: 300;
                }
            }

            /* 公告 */
            .notice {
                height: 68rpx;
                display: flex;
                align-items: center;
                background-color: #FFFFFF;
                opacity: 0.9;
                border-radius: 8rpx;
                margin: 24rpx 0 28rpx;
                image {
                    width: 34rpx;
                    height: 30rpx;
                    border: 1rpx solid red;
                    margin: 0 10rpx 0 14rpx;
                    flex-shrink: 0;
                }
                .notice-content {
                    font-size: #fontSize[themeTitle];
                    color: #222222;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-right: 46rpx;
                    .name {
                        animation: notice 8s linear infinite;
                    }
                    @keyframes notice {
                        0% {
                            -webkit-transform: translateX(90%);
                        }
                        100% {
                            -webkit-transform: translateX(-120%);
                        }
                    }
                }
            }

            /* 标签 */
            .label {
                font-size: 24rpx;
                font-weight: 500;
                line-height: 22rpx;
                color: #fontColor[fff];
                text {
                    margin-right: 48rpx;
                }
            }
        }

    }
    
}